@use 'sass:color';

$brand-blue: #0e7eaf;
a.footnote-backref {
  font-weight: bolder;
  margin-left: 10px;
  font-size: 16px;
  color: color.adjust($color: $brand-blue, $lightness: -5%);
  position: relative;
  top: 2px;
}